<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Style pour le banner-->
        <link rel="stylesheet" href="css/banner.css"/>
    </head>
    <body>
        <!-- Création du banner-->
  <div class="banner">
    <div class="text_banner">
        <h2>BIENVENUE SUR MATCHEZ-MOI</h2>
        <h1>Chez-nous,</br> la magie de l'amour s'opère</h1>
        <p>Avec Matchez-Moi, vous êtes sûr de trouver l'amour à chaque rencontre, 
        à chaque rendez-vous. L'amour est plus proche que vous le pensez. Donnez-vous une chance.
        </p>

        <div class="email_banner">
            <input type="text" placeholder="ABONNEZ-VOUS">
            <button>S'abonner</button>
        </div>
    </div>
    <div class="photo_banner">
        <img src="images/photoProfil/banner.png" alt="photo banner">
    </div>
</div>
    </body>
</html>
