
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   </head>
<body>
 <footer>
   <div class="Contenant">
     <div class="left box">
       <div class="titre">
         <div class="abonner">Matchez-moi</div>
         <p>Matchez-moi est un site web qui permet à ses membres de se rencontrer et de trouver l'amour. <br>Chez-nous, l'amour est au rendez-vous !</p>
       </div>
       <div class="paragraphe">
         <div class="abonner">Comment nous joindre</div>
         <div class="phone">
           <a href="#"><i class="fas fa-phone-volume"></i>+1 (514) 000 1212</a>
         </div>
         <div class="email">
           <a href="#"><i class="fas fa-envelope"></i>Matchez-moi@gmail.com</a>
         </div>
       </div>
     </div>
     <div class="middle box">
       <div class="abonner">Ce que nous offrons</div>
       <div><a href="#">Administration</a></div>
       <div><a href="#">Recherche</a></div>
       <div><a href="#">Match</a></div>
       <div><a href="#">Présentation</a></div>
       <div><a href="#">Membre</a></div>
       <div><a href="#">FAQ</a></div>
     </div>
     <div class="right box">
       <div class="abonner">Abonnez-vous</div>
       <form action="#">
         <input type="text" placeholder="Entrez votre email">
         <input type="submit" name="" value="Envoyer">
         <div class="media-icons">
           <a href="#"><i class="fab fa-facebook-f"></i></a>
           <a href="#"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-twitter"></i></a>
           <a href="#"><i class="fab fa-youtube"></i></a>
           <a href="#"><i class="fab fa-linkedin-in"></i></a>
         </div>
       </form>
     </div>
   </div>
   <div class="bottom">
     <p>Copyright © 2023 / All rights reserved : Elatris Adham, Registre Sainvilus Olivier, Billy Marcelin, Tir Young.</p>
   </div>
 </footer>

</body>
</html>
